
.box1 {
    width: 400px;
    height: 100px;
    border: 1px solid royalblue;
}

.box2 {
    width: 50%;
    height: 100px;
    border: 1px solid royalblue;
}

.box3-shadow {
    box-shadow: 2px -2px 5px 0px;
}

.box4-shadow {
    box-shadow: 5px 5px 15px 5px blue;
}