
* {
    background-color: antiquewhite;
}

table,
th,
td {
    border: 1px solid blueviolet;
    /* 표 테두리 */
    border-collapse: collapse;
    /* 테두리 1줄만 표시 */
    /* text-align: center; */
}

th,
td {
    padding: 10px;
    /* 셀 안쪽의 여백(패딩) */
}

th {
    background-color:lightskyblue
}